#' @title param_lbstresn_crop
#' @description Test function that crops LBSTRESN based on parameter value
#' @param LBSTRESN_MINVAL `numeric` Threshold for LBSTRESN. If below then assign NA.
#' @type derivation
#' @depends ADLB LBSTRESN
#' @outputs LBSTRESN_CROP
#' @code
ADLB <- ADLB |>
  dplyr::mutate(LBSTRESN_CROP = ifelse(LBSTRESN <= {{LBSTRESN_MINVAL}}, NA, LBSTRESN))
