#' @title param_var1_val
#' @description Test function that assigns PARAM_VAR1 to a parameter value.
#' @param value `character/numeric` The value that the new variable will be assigned to
#' @type column
#' @outputs PARAM_VAR1
#' @code
ADLB <- ADLB |>
  dplyr::mutate(PARAM_VAR1 = "{{{value}}}")
