#' @title param_2_new_2_var
#' @description Test function that assigns two new variables to the values of two existing variables. The names of the variables are specified by four parameters.
#' @param in_variable1 `character` Name of the input variable 1
#' @param in_variable2 `character` Name of the input variable 2
#' @param new_variable1 `character` Name of new variable 1
#' @param new_variable2 `character` Name of new variable 2
#' @type derivation
#' @depends ADLB {{in_variable1}}
#' @depends ADLB {{in_variable2}}
#' @outputs {{new_variable1}}
#' @outputs {{new_variable2}}
#' @code
ADLB <- ADLB |>
  dplyr::mutate({{new_variable1}} = {{in_variable1}},
                {{new_variable2}} = {{in_variable2}})
