#' @title Write data
#' @description Template description here
#' @type derivation
#' @param self_upper Character string. The uppercase name of the dataset, used for section headers and comments in the generated code.
#' @param self Character string. The name of the dataset object to be written to disk as a parquet file.
#' @param keep_cols Character vector or NULL. If provided, specifies the column names to select from the dataset before writing. If NULL, the entire dataset is written without column selection.

# Write {{self_upper}} to disk ------------------------------------------------
{{#keep_var}}
cnt$adam$write_cnt({{self}} |> dplyr::select({{keep_var}}), "{{self}}.parquet", overwrite = TRUE)
{{/keep_var}}
{{^keep_var}}
cnt$adam$write_cnt({{self}}, "{{self}}.parquet", overwrite = TRUE)
{{/keep_var}}
